:root {
    --red: #df473a;
    --yellow: #fff8ce;
    --bg1: #f5eedc;
    --bg2: #f9f5ea;
    --gray1: #66635e;
    --gray2: #5c5954;
    --gray3: #413e39;
    --green: #999e03;
    --textColor: #762931;
    --font1: 'PT Sans', sans-serif;
    --font2: 'Open Sans', sans-serif;
    --client1: 'Caveat', cursive;
    --client2: 'Courier Prime', monospace;
    --client3: 'Oooh Baby', cursive;
    --client4: 'Qwitcher Grypen', cursive;
    --grad: linear-gradient(#f86659, var(--red));
}

* {box-sizing: border-box;}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font2);
}

.blurb {
    font-size: 1.7rem;
    color: var(--textColor);
    font-weight: 200;
}

.colophon {
    color: var(--yellow);
    font-weight: 200;
}

.figure-heading {
    margin: 0;
    font-size: 1rem;
    font-weight: 700;
}

.footer-logo {
    font-weight: 750;
}

.fs1-heading {
    color: var(--textColor);
}

.fs1-subheading {
    color: var(--green);
}

.fs3-heading {
    font-size: 1rem;
}

.fs3-subheading {
    font-size: 1rem;
    font-weight: 700;
}

.fs3-list li, .fs3-text {
    color: #aaa;
}

.icons {
    font-size: 1.5rem;
    color: var(--green);
}

.main-nav-link {
    color: var(--yellow);
}

.main-nav-link:hover {
    padding: 8px 14px;
    color: #000;
    background-color: var(--yellow);
    border-radius: 5px;
}

.my-figure {
    background-color: #fff;
    box-shadow: 0 5px 5px #aaa;
}

.small-text {
    font-size: 0.80rem;
}

.social-link {
    color: var(--yellow);
}

.tint {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 45vh;
    background-color: #000;
    opacity: 0.68;
}

#carouselSection {
    width: 100%;
    height: 45vh;
    position: relative;
    background-image: url(../images/amirali-mirhashemian-fimM6mgqv6M-unsplash.jpg);
}

#client1, #client5 {
    font-family: var(--client1);
}

#client2 {
    font-family: var(--client2);
}

#client3 {
    font-family: var(--client3);
}

#client4 {
    font-family: var(--client4);
}

#figureSection {
    padding: 32px 0;
    background-color: var(--bg1);
}

#footerSection1 {
    padding: 32px 0;
    background-color: var(--bg2);
}

#footerSection2 {
    padding: 32px 0;
    color: var(--yellow);
    background-color: var(--gray1);
}

#footerSection3 {
    padding: 32px 0;
    background-color: var(--gray2);
}

#footerSection4 {
    padding: 32px 0;
    background-color: var(--gray3);
}

#headerSection1 {
    background-color: var(--red);
}

#headerSection2 {
    padding: 20px 0;
    background-color: var(--red);
    background-image: var(--grad);
}

#headerSection3 {
    padding: 10px 0;
    background-color: var(--yellow);
}